.furniture {
    @include adaptive-value("padding-top", 44, 30, 1);
    @include adaptive-value("padding-bottom", 85, 40, 1);

    &-label {
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 600;
        line-height: 150%;
        text-align: center;
        color: $darkGrayColor;
        margin-bottom: 8px;
    }

    &-title {
        @include adaptive-value("margin-bottom", 32, 20, 1);
    }

    &-body {
        position: relative;
    }

    &-items {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        align-items: center;
        gap: 16px;
        @media (any-hover: hover) {
            justify-content: center;
        }
    }

    &-column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -8px;
        &:first-child {
            justify-content: flex-end;
        }
    }

    &-row {
        display: inline-grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        gap: 16px;
        padding: 0 8px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-left-top {
            justify-content: end;
            align-items: end;
        }

        &-left-bottom {
            justify-content: end;
            align-items: start;
        }

        &-center {
            display: block;
        }

        &-right-top {
            align-items: end;
        }

        &-right-bottom {
            align-items: start;
        }

        &-item {
            img {
                transition: all 0.8s ease;
                filter: grayscale(1);
            }
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}