// space
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1240;
$md1: $maxWidthContainer + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// colors
$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
